<div class="card">
	<div class="dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div class="ui inverted button" id="NYJ">
						<a href="/chat_room">Join Group</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/New York Jets.png">
	</div>
	<div class="content">
		<div class="header">New York Jets</div>
	</div>
</div>

<div class="card">
	<div class="dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div class="ui inverted button" id="PE">
						<a href="/chat_room">Join Group</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/Philadelphia Eagles.png">
	</div>
	<div class="content">
		<div class="header">Philadelphia Eagles</div>
	</div>
</div>

<div class="card">
	<div class="dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div class="ui inverted button" id="PS">
						<a href="/chat_room">Join Group</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/Pittsburgh Steelers.png">
	</div>
	<div class="content">
		<div class="header">Pittsburgh Steelers</div>
	</div>
</div>

<div class="card">
	<div class="dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div class="ui inverted button" id="NYG">
						<a href="/chat_room">Join Group</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/New York Giants.png">
	</div>
	<div class="content">
		<div class="header">New York Giants</div>
	</div>
</div>

<div class="card">
	<div class="dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div class="ui inverted button">
						<a href="/chat_room">Join Group</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/images/New England Patriots.png" id="NEP">
	</div>
	<div class="content">
		<div class="header">New England Patriots</div>
	</div>
</div>